@{
    ViewData["Title"] = "Home Page";
}

      <div class="hero-unit">
        <h1>Hi, all!</h1>
        <p>This is my GoL project, created to show you guys how TypeScript works!</p>
        <p>

            <b>Rules for Game of Life:</b>
            <ul>
            <li>Any live cell with fewer than two neighbors dies of loneliness.</li>
            <li>Any live cell with more than three neighbors dies of crowding.</li>
            <li>Any dead cell with exactly three neighbors comes to life.</li>
            <li>Any live cell with two or three neighbors lives, unchanged, to the next generation.</li>
            </ul>
            All births and deaths occur simultaineously. Read more about Game of Life in Wikipedia.
        </p>
      </div>
